.searchBarContainer {
  min-width: 420px;

  @media only screen and (max-width: 700px) {
    min-width: 60%;
  }
}

.ui.items.suggestionContainer {
  margin-top: 37px;
  border: 1px solid #96c8da;
  border-top: 0;
  background-color: white;
  position: absolute;
  z-index: 999;
  list-style: none;
  overflow-y: auto;
  padding: 0;
  width: 392px;

  @media only screen and (max-width: 700px) {
    width: 220px;
  }

  @media only screen and (max-width: 320px) {
    width: 180px;
  }

  > .item {
    margin-top: 5px;

    @media only screen and (max-width: 700px) {
      margin-top: 1px;
    }
  }
}

.ui.items > .item.suggestionActive {
  background-color: #E8E8E8;
  cursor: pointer;
}
